body {
  font-family: Arial, sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Patient/Js/Images/Untitled\ design\ \(6\).png'); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* Adjust this value to control transparency */
  z-index: -1; /* Ensures the image stays behind the content */
}

.hero {
  text-align: center;
  padding: 20px;
  z-index: 1; /* Keeps the hero content above the background image */
}

h1 {
  font-size: 78px;
  margin: 0;
}

.med {
  color: #85c1e9;
}

.buttons-container {
  margin-top: 20px;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 50px;
  margin: 10px;
  color: white;
  background-color: #85c1e9;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;

  /* Box shadow for the button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button .emoji {
  margin-left: 10px;
  font-size: 1.5rem;
}

.button:hover {
  transform: translateY(-5px);
  background-color: #cad3da;
  color: black;

  /* Enhance the shadow on hover */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.12);
}

/* Emoji change on hover */
.great-button .emoji {
  content: "😊";
}

.great-button:hover .emoji {
  content: "😁";
}

.okay-button .emoji {
  content: "😐";
}

.okay-button:hover .emoji {
  content: "🙂";
}
